<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tedu.ttms.user.dao.UserInfoDao" >
  <resultMap id="BaseResultMap" type="cn.tedu.ttms.user.entity.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roleId" property="roleid" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="createdTime" property="createdtime" jdbcType="BIGINT" />
    <result column="createUser" property="createuser" jdbcType="INTEGER" />
    <result column="updateTime" property="updatetime" jdbcType="BIGINT" />
    <result column="updateUser" property="updateuser" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roleId, account, password, status, note, createdTime, createUser, updateTime, 
    updateUser
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system_user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.tedu.ttms.user.entity.UserInfo" >
    insert into system_user_info (id, roleId, account, 
      password, status, note, 
      createdTime, createUser, updateTime, 
      updateUser)
    values (#{id,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{note,jdbcType=VARCHAR}, 
      #{createdtime,jdbcType=BIGINT}, #{createuser,jdbcType=INTEGER}, #{updatetime,jdbcType=BIGINT}, 
      #{updateuser,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.tedu.ttms.user.entity.UserInfo" >
    insert into system_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleid != null" >
        roleId,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="createdtime != null" >
        createdTime,
      </if>
      <if test="createuser != null" >
        createUser,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="updateuser != null" >
        updateUser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=BIGINT},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=BIGINT},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tedu.ttms.user.entity.UserInfo" >
    update system_user_info
    <set >
      <if test="roleid != null" >
        roleId = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null" >
        createdTime = #{createdtime,jdbcType=BIGINT},
      </if>
      <if test="createuser != null" >
        createUser = #{createuser,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=BIGINT},
      </if>
      <if test="updateuser != null" >
        updateUser = #{updateuser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tedu.ttms.user.entity.UserInfo" >
    update system_user_info
    set roleId = #{roleid,jdbcType=INTEGER},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      note = #{note,jdbcType=VARCHAR},
      createdTime = #{createdtime,jdbcType=BIGINT},
      createUser = #{createuser,jdbcType=INTEGER},
      updateTime = #{updatetime,jdbcType=BIGINT},
      updateUser = #{updateuser,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="getUserInfoByAcount" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from system_user_info
    where account = #{account}
  </select>
</mapper>