<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tedu.ttms.user.dao.UserInfoDao" >
  <resultMap id="BaseResultMap" type="cn.tedu.ttms.user.entity.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="valid" property="valid" jdbcType="TINYINT" />
    <result column="createdTime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="modifiedTime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="createdUser" property="createduser" jdbcType="VARCHAR" />
    <result column="modifiedUser" property="modifieduser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, salt, email, mobile, valid, createdTime, modifiedTime, createdUser, 
    modifiedUser
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.tedu.ttms.user.entity.UserInfo" >
    insert into sys_users (id, username, password, 
      salt, email, mobile, 
      valid, createdTime, modifiedTime, 
      createdUser, modifiedUser)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{valid,jdbcType=TINYINT}, #{createdtime,jdbcType=TIMESTAMP}, #{modifiedtime,jdbcType=TIMESTAMP}, 
      #{createduser,jdbcType=VARCHAR}, #{modifieduser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.tedu.ttms.user.entity.UserInfo" >
    insert into sys_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="createdtime != null" >
        createdTime,
      </if>
      <if test="modifiedtime != null" >
        modifiedTime,
      </if>
      <if test="createduser != null" >
        createdUser,
      </if>
      <if test="modifieduser != null" >
        modifiedUser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=TINYINT},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createduser != null" >
        #{createduser,jdbcType=VARCHAR},
      </if>
      <if test="modifieduser != null" >
        #{modifieduser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tedu.ttms.user.entity.UserInfo" >
    update sys_users
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=TINYINT},
      </if>
      <if test="createdtime != null" >
        createdTime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        modifiedTime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createduser != null" >
        createdUser = #{createduser,jdbcType=VARCHAR},
      </if>
      <if test="modifieduser != null" >
        modifiedUser = #{modifieduser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tedu.ttms.user.entity.UserInfo" >
    update sys_users
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=TINYINT},
      createdTime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedTime = #{modifiedtime,jdbcType=TIMESTAMP},
      createdUser = #{createduser,jdbcType=VARCHAR},
      modifiedUser = #{modifieduser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>